/* 
    Colores
    La mayoria de las pantalles funcionan con un modo de color aditivo. La suma de RGB da como
    resultado un blanco.
    Tenemos varias formas de dar color en CSS

    Keywords que representan color: https://www.w3.org/wiki/CSS/Properties/color/keywords
    IMPORTANTE: "transparent" tambien es considerado un color

    Current color: Es una palabra reservada que se puede utilizar en lugar de cualquier
    valor de la propiedad color y usara el valor ya sea establecido o heredado 
    en la propiedad color

*/

body {
    margin: 0;
    background-color: darkkhaki;
}

.box-triangulo {
    /* dibujar un triangulo con bordes */
    border-bottom: 300px solid seashell; /* direccion del pico contrario (top hacia abajo) */
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
}

.main {
    color: rgb(99, 24, 105);
    background-color: currentColor;
    /* color:deeppink; */
}

.box {
    background-color: deepskyblue;
    position: relative;
    width: 300px;
    height: 300px;
    top: 300px;
}
